html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  color: #484848;
  font-size: 14px;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

.filters button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: None;
  border-radius: 4px;
  position: absolute;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters button:hover {
  opacity: 90%;
}

.locations {
  display: inline;
  vertical-align: middle;
  float: left;
  height: 100%;
  width: 25%;

  line-height: 20px;
  border-right: 1px solid #dddddd;
}

.locations h3,
.amenities h3 {
  font-weight: 600;
  margin: 0;
  margin-top: 15px;
  margin-left: 25px;
}

.locations h4 {
  font-weight: 400;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 25px;
}

.amenities {
  display: inline;
  vertical-align: middle;
  height: 100%;
  float: left;
  width: 25%;

  line-height: 20px;
}

.amenities h4 {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 25px;
}

.popover {
  list-style-type: none;
  display: none;
  background-color: #fafafa;
  width: 100%;

  margin-top: 8px;
  padding: 25px 0px;

  border: 1px solid #dddddd;
  border-radius: 4px;
}

ul {
  list-style-type: none;
  padding: 0px;
  padding-bottom: 20px;
}

.popover h2 {
  font-size: 16px;
  margin-left: 15px;
}

.locations:hover .popover {
  display: inline-block;
  width: 100%;
  line-height: 15px;
}

.amenities:hover .popover {
  display: inline-block;
  width: 100%;
  line-height: 15px;
}
